@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;

}
ul{
    list-style:none;
}

.main-container{
    background:black;
    height:120vh;
    padding-top:50px;
}
.container{
    height:80vh;
    width:90%;
    margin:auto;
    padding: 10px 50px;
    background:white;
}

nav {
    padding-top: 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.logo{
    width:50px;
    font-size:10px;
    text-transform: uppercase;
    display:flex;
    align-items: center;
}
.logo i{
    font-size:30px;
}

.nav-links {
    display:flex;
    justify-content:space-between;
    width:40%;
}

nav i:last-child{
    font-size:30px;
}

/* hero section starts */

.hero-section{
    height:50vh;
    display:flex;
    justify-content: space-between;
    padding-top:30px;
}
.national-treasure{
    width:50%;
    position:relative;
    padding:20px;
}
.national-treasure h2:first-child{
    font-size:80px;
    text-transform: uppercase;
}

.national-treasure h2:nth-child(2){
    font-size:80px;
    text-transform: uppercase;
    margin-top:-50px;
}
.national-treasure p:nth-child(4){
    width:150px;
    margin-left:50px;
    margin-top:30px;
    border:1px solid green;
    text-align: center;
    border-radius:20px;
}

.national-treasure p:last-child{
    background-color: rgb(18,49,36);
    color:white;
    font-size:12px;
    width:120px;
    text-align: center;
    height:70px;
    padding-top:25px;
    border-radius:500px;
    transform: rotate(-20deg);
    position:absolute;
    right:10px;
    bottom:20px;
}

/* image section starts */

.image-section img{
    height:380px;
    margin-right:10px;
 
}

/* footer section starts */
footer{
    background:white;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top:100px;
}

footer div:last-child{
    background:rgb(18,49,36);
    width:200px;
    height:180px;
    border-radius:20px;
}  

footer p:first-child{   
    border-radius:20px;
    width:180px;
    margin-bottom:20px;
    text-align: center;
    border:1px solid;
    font-weight: 800;
}

footer p:nth-child(2){
    font-size:16px;
    margin-bottom:10px;
}

footer div:last-child img{
    width:200px;
}

footer div:last-child p{
    padding:10px;
    font-size:14px;
    text-align: center;
    color:white;
}